/*------------------BANNER---------------------*/
.banner{
  width: 100%;
  position: relative;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  justify-content: center;
  font-family: "Playfair Display", sans-serif;
}
.texto{
  left: 15vw;
  position: absolute;
  @media (max-width: 1000px){
    left: 10vw;
  }
}
.banner h1{
  text-align: left;
  font-weight: 100;
  font-size: clamp(20px, 3.4vmax, 70px);
  /*--@media (max-width: 1200px){
    font-size: clamp(30px, 4vmin, 60px);
  }--*/
  max-width: 80vw;
}

.banner br{
  @media (max-width:900px){
    display: none;
  }
}
