.footer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #070708;
}

.footerMenu{
  height: clamp(300px, 25vmax, 600px);
  width: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.footerMenu ul{
  display: flex;
  flex-direction: row;
  align-content: center;
  height: fit-content;
  width: clamp(130px, 22vmax, 400px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  @media (max-width: 850px){
    width: 130px;
  }
}

.footerMenu li{
  list-style: none;
  line-height: clamp(30px, 4vmax, 80px);
}

.footerMenu li a{
  color: #ffffff;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: clamp(10px, 1vmax, 20px);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  transition: all .3s;
}

.footerMenu li a:hover{
  opacity: .6;
}
.footerMenu .logo{
  opacity: 1 !important;
}