/*------------------CABECALHO---------------------*/
.cabecalho{
  height: 180px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  font-size: 16px;
  position: relative;
}
.row{
  width: 85%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
  align-items: center;
  align-content: center;
  position: relative;
}
/*-------------------LOGO---------------------------*/
.logo{
  width: fit-content;
  color: #ffffff;
  font-weight: 600;
  font-size: clamp(10px, 1vmax, 20px);
  letter-spacing: 3px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 10000;
}
.logo img{
  height: clamp(25px, 3vmax, 40px);
  object-fit: contain;
  object-position: contain;
}
.menuzito{
  width: 100px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  z-index: 10000;
}
.menuzito p{
  color: #ffffff;
  letter-spacing: 4px;
  margin-right: 10px;
  font-size: clamp(10px, 1vmax, 18px);
  font-weight: 700;
  transition: opacity 1.3s ease-out;
}
.square{
  display: flex;
  width: fit-content;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
}
.menuzito svg{
  margin: 0;
  padding: 0;
  width: clamp(25px, 3vmax, 45px);
  stroke: #ffffff;
  stroke-width: .8px;
  transform: rotate(45deg);
  transition: width .7s ease,
              stroke-width .2s,
              opacity 1.3s ease-out,
              background-color .3s;
}
.menuzito:hover .svg2{
  background-color: #ffffff00;
}
.menuzito:hover p{
  opacity: .2;
}
.menuzito:hover svg{
  width: clamp(55px, 4vmax, 90px);
  stroke-width: .5px;
  opacity: .2;
}
.menuzito:hover .svg2{
  width: 5px;
  background-color: #ffffff;
  opacity: 1;
}


/*------------------MENU------------------------*/
body.scroll-lock {
  overflow: hidden !important;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.menu-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1e1e25;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  z-index: 9999; 
  transition: opacity 0.7s ease; 
}

.menu-fullscreen.show {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.4s ease; 
}

.menu-fullscreen.hiding {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease .5s;
}

.menu-fullscreen ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.menu-fullscreen ul li {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: fit-content; 
  position: relative;
  transition: color .4s;
}

.menu-fullscreen ul li a {
  font-size: clamp(20px, 8vmin, 70px);
  font-family: "Lora", sans-serif;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 0;
  opacity: 1;
  transition: color .4s;
}


.menu-fullscreen.show ul li span {
  opacity: 1;
  transition-delay: .6s;
  transform: translateY(0);
}
.menu-fullscreen ul li span{
  transition: transform 1s;
  transform: translateY(100%); 
  display: inline-block; 
}

.menu-fullscreen ul.hovering li a {
  color: #707070;
}

.menu-fullscreen ul.hovering li a.hovered {
  color: white !important;
}

.menu-content {
  position: relative;
  width: 70vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

#closeMenu {
  position: absolute;
  top: -50px;
  right: -10px;
  filter: invert(1);
  font-size: 1.5rem;
}