/*------------------MÉTRICAS---------------------*/
.services{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: center;
  margin-top: 30vh;
  color: #ffffff;
}
@media (max-width: 1200px){
  .services{
    margin-top: 50vh;
  }
}
@media (max-width: 900px){
  .services{
    margin-top: 20vh;
  }
}

.services .porcentagem{
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "quicksand", sans-serif;
  gap: 30px;
  @media (max-width:900px){
    width: 100%;
    order: 2;
  }
}

/*--------------------CIRCULO---------------------------*/
.services .circle{
  display: flex;
  width: 100%;
  justify-content: center;
  border: 50%;
  overflow: hidden;
}

.services .porcentagem h1 {
  position: relative;
  width: clamp(20px, 20vmax, 400px);
  height: clamp(20px, 20vmax, 400px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: clamp(20px, 4vmax, 120px);
  font-weight: 400;
  color: #ffffff !important;
  z-index: 0;
  @media (max-width:900px){
    width: clamp(20px, 27vmax, 400px);
    height: clamp(20px, 27vmax, 400px);
  }
}

.services .porcentagem h1::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 4px;
  border-radius: inherit;
    background: linear-gradient(161deg, rgb(71, 71, 71) 40%, rgb(161, 161, 161) 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.services .porcentagem .circle3 h1{
  background:  linear-gradient(130deg, rgb(0, 255, 234) 30%, #0048ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.services .porcentagem .circle2 h1::before{
  background: linear-gradient(161deg, rgba(0, 78, 215, 1) 0%, rgba(42, 183, 243, 1) 100%);
}

.services .degrade-border {
  position: relative;
  border-radius: 50%;
  background: white; /* ou o fundo do seu elemento */
  z-index: 0;
}

.services .porcentagem p{
  color: #ffffff;
  opacity: .5;
  font-size: clamp(15px, 1vmax, 20px);
  margin-bottom: 6vmax;
}

/*--------------------SERVIÇOS---------------------------*/

.servicesResume{
  width: 50%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media (max-width:900px){
    width: 100%;
    margin-left: 15vw;
    margin-bottom: 10vw;
    order: 1;
  }
}

.servicesResume p br{
  @media (max-width:900px){
    display: none;
  }
}

.servicesResume h1{
  font-family: "Playfair Display", sans-serif;
  font-size: clamp(20px, 4vmax, 60px);
  font-weight: 100;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 100px;
}

.servicesResume p{
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  opacity: .7;
  font-size: clamp(16px, 1vmax, 22px);
  max-width: 70vw;
  margin-bottom: 50px;
}
